@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Roboto+Mono:400,400i,500,500i,700,700i&display=swap");

html,
body {
  --text-font: "Dank Mono", "Fira Mono", "Roboto Mono", monospace;
  --background-color: #f9f9fa;

  padding: 0;
  margin: 0;
  font-family: var(--text-font);
  background-color: var(--background-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Area for dragging the window */
header {
  height: 23px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-app-region: drag;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
}

.textarea-wrapper {
  display: flex;
  justify-content: center;
}

#textarea {
  border: none;
  resize: none;
  overflow-y: scroll;
  height: 100vh;
  font-size: 1rem;
  padding: 55px 80px;
  font-family: var(--text-font);
  background-color: var(--background-color);
}

#textarea::-webkit-scrollbar {
  display: none;
}

#textarea:focus {
  outline: none;
}

/**
 * File path component
 */
#file-path {
  font-family: var(--text-font);
  font-size: 12px;
  padding: 0 12px;
  margin: 0 auto;
  color: #11111188;
}
